{{#partial "content"}}

    <p>This web app will help organize a local hack-a-ton event. Hack-a-ton are events that bring people together to create software in a short period of time! Developers and designers sign up to participate, and are organized into teams. These teams work to create a site or application that solves a specific, provided problem, or fulfills a provided prompt.</p>

    <h1>Team list</h1>

    {{#if teams}}
    {{#each teams}}
        <h3>Current team:</h3>
        <p><strong>Team name:</strong> {{name}}</p>
        <p><strong>Team Description:</strong> {{description}}</p>
        <p><a href="/teams/{{id}}">Read more</a></p>
    {{/each}}
    {{else}}
    <p>There are No current Teams to display!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}