{{#partial "content"}}

    <h1>Team list</h1>

    {{#if teams}}
    {{#each teams }}
    <p>Current team:</p>
    <p>{{ content }}</p>
    {{/each}}
    {{else}}
    <p>No Teams!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}