{{#partial "content"}}

    <h1>Team list</h1>

    {{#if teams}}
    {{#each teams }}
    <p>Current team:</p>
    <p>{{ content }}</p>
    {{/each}}
    {{else}}
    <p>No Teams!</p>
    {{/if}}

    <p>Add a new Team:</p>

    <form action="/teams/new" method="POST">
        <label for="name">Team Name</label>
        <input id="name" name="name" type="text">
        <label for="description">Description</label>
        <input id="description" name="description" type="text">
        <label for="members">Members</label>
        <input id="members" name="members" type="text">

        <button type="submit" class="btn btn-default">Add Team</button>
    </form>
{{/partial}}

{{> layout.hbs}}