<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Blog{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="/teams/new">Add a New Team</a></li>
</ul>
<div class="container">
    <div class="page-header">
        <img src="/images/code.jpg" width="70%">
        <h1>Welcome to Hack-a-ton web app. <small>A journey into group coding!</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
{{#block "footer"}}
<footer class="footer">
    <div class="container">
        <hr>
        <p class="text-muted"><a href="/teams/delete"><button class = "btn btn-success">Delete All Teams</button></a></p>
    </div>
</footer>
</body>
</html>
{{/block}}
