{{#partial "content"}}
    {{#if member}}
    <h1>Edit member</h1>
    <form action="/teams/{{teamId}}/members/{{memberId}}/update" method="post">
        <label for="name">Edit member name</label>
        <input id="name" name="name" type="text" value="{{member.name}}">
        <button type="submit" class="btn btn-danger">Go Edit Member</button>
    </form>
    {{else}}

        {{/if}}
{{/partial}}

{{> layout.hbs}}
