{{#partial "content"}}
    <h1>Edit member</h1>
    <form action="/members/{{member.id}}" method="post">
        <label for="name">Edit member name</label>
        <input id="name" name="name" type="text" value="{{member.name}}">
        <button type="submit" class="btn btn-success">Edit member</button>
    </form>
{{/partial}}

{{> layout.hbs}}
