{{#partial "content"}}

{{#if editTeam}}
    <h1>Edit this Team</h1>
<form action="/teams/{{editTeam.id}}/update" method="post">
    <div>
        <label for="name">Edit this Team's name</label>
        <input id="name" name="name" type="text" value="{{editTeam.name}}">
        <label for="description">Edit this Team's Description</label>
        <input id="description" name="description" type="text" value="{{editTeam.description}}">
    </div>
    <div>
    </div>
    <button type="submit" class="btn btn-info">Update Team</button>
</form>
{{else}}

<h1>Add a new Team!</h1>

<form action="/teams/new" method="post">
    <label for="name">Team Name</label>
    <input id="name" name="name" type="text">
    <label for="description">Description</label>
    <input id="description" name="description" type="text">
    <button type="submit" class="btn btn-success">Add Team</button>
{{/if}}
</form>
{{/partial}}

{{> layout.hbs}}
